.footer {
  width: 100%;
  margin-top: 555px;
  background: #21223f;
  clip-path: polygon(
    26.4583% 0,
    28.6458% 25px,
    100% 25px,
    100% 100%,
    0 100%,
    0 0
  );
  padding: 55px 0 25px 0;

  &__container {
    width: 1110px;
    height: 100%;
    margin: 0 auto;
  }

  &__top {
    border-bottom: 1px solid #1a425c;
  }
}
