<footer class="footer">
  <div class="footer__top">
    <div class="footer__container flex-space-btw">
      <div class="footer__wrapper">
        <h2 class="footer__heading">Quick Links</h2>
        <ul class="footer__navigation flex-center">
          <li class="footer__navigation__item" (click)="scrollTo('slider')">
            Home
          </li>
          <li class="footer__navigation__item" (click)="scrollTo('about')">
            About us
          </li>
          <li class="footer__navigation__item" (click)="scrollTo('services')">
            Services
          </li>
          <li class="footer__navigation__item" (click)="scrollTo('order')">
            Make order
          </li>
          <li class="footer__navigation__item" (click)="scrollTo('speed')">
            Check speed
          </li>
          <li class="footer__navigation__item" (click)="scrollTo('contact')">
            Contact
          </li>
        </ul>
      </div>
      <img
        src="../../../assets/img/logo-large.png"
        alt=""
        class="footer__logo"
      />
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__container">
      <span class="footer__bottom__txt"
        >Copyright © 2019 AvroLab. All Rights Reserved.</span
      >
    </div>
  </div>
</footer>
