<footer class="footer">
  <div class="footer__top">
    <div class="footer__container flex-space-btw">
      <div class="footer__wrapper">
        <h2 class="footer__heading" translate>footer.heading</h2>
        <ul class="footer__navigation flex-center">
          <li
            class="footer__navigation__item"
            (click)="scrollTo('slider')"
            translate
          >
            header.navigation.home
          </li>
          <li
            class="footer__navigation__item"
            (click)="scrollTo('about')"
            translate
          >
            header.navigation.about
          </li>
          <li
            class="footer__navigation__item"
            (click)="scrollTo('services')"
            translate
          >
            header.navigation.services
          </li>
          <li
            class="footer__navigation__item"
            (click)="scrollTo('order')"
            translate
          >
            header.navigation.order
          </li>
          <li
            class="footer__navigation__item"
            (click)="scrollTo('speed')"
            translate
          >
            header.navigation.speed
          </li>
          <li
            class="footer__navigation__item"
            (click)="scrollTo('contact')"
            translate
          >
            header.navigation.contanct
          </li>
        </ul>
      </div>
      <img
        src="../../../assets/img/logo-large.png"
        alt=""
        class="footer__logo"
      />
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__container">
      <span class="footer__bottom__txt" translate>footer.bottom</span>
    </div>
  </div>
</footer>
