<div class="services" id="services">
  <div class="services__container">
    <h2 class="services__heading" translate>services.heading</h2>
    <h4
      class="services__heading__sub"
      [innerHTML]="'services.subHeading' | translate"
    >
      <!-- services.subHeading -->
    </h4>
    <ul class="services__list flex-space-btw">
      <li class="services__list__item">
        <img
          src="../../../assets/img/service1.svg"
          alt=""
          class="services__list__item__icon"
        />
        <h5
          class="services__list__item__heading"
          [innerHTML]="'services.cheap.heading' | translate"
        >
          <!-- services.cheap.heading -->
        </h5>
        <p
          class="services__list__item__paragraph"
          [innerHTML]="'services.cheap.text' | translate"
        >
          <!-- services.cheap.text -->
        </p>
      </li>
      <li class="services__list__item">
        <img
          src="../../../assets/img/service2.svg"
          alt=""
          class="services__list__item__icon"
        />
        <h5
          class="services__list__item__heading"
          [innerHTML]="'services.fast.heading' | translate"
        >
          <!-- services.fast.heading -->
        </h5>
        <p
          class="services__list__item__paragraph"
          [innerHTML]="'services.fast.text' | translate"
        >
          <!-- services.fast.text -->
        </p>
      </li>
      <li class="services__list__item">
        <img
          src="../../../assets/img/service3.svg"
          alt=""
          class="services__list__item__icon"
        />
        <h5
          class="services__list__item__heading"
          [innerHTML]="'services.TV.heading' | translate"
        >
          <!-- services.TV.heading -->
        </h5>
        <p
          class="services__list__item__paragraph"
          [innerHTML]="'services.TV.text' | translate"
        >
          <!-- services.TV.text -->
        </p>
      </li>
      <li class="services__list__item">
        <img
          src="../../../assets/img/service4.svg"
          alt=""
          class="services__list__item__icon"
        />
        <h5
          class="services__list__item__heading"
          [innerHTML]="'services.team.heading' | translate"
        >
          <!-- services.team.heading -->
        </h5>
        <p
          class="services__list__item__paragraph"
          [innerHTML]="'services.team.text' | translate"
        >
          <!-- services.team.text -->
        </p>
      </li>
      <li class="services__list__item">
        <img
          src="../../../assets/img/service5.svg"
          alt=""
          class="services__list__item__icon"
        />
        <h5
          class="services__list__item__heading"
          [innerHTML]="'services.news.heading' | translate"
        >
          <!-- services.news.heading -->
        </h5>
        <p
          class="services__list__item__paragraph"
          [innerHTML]="'services.news.text' | translate"
        >
          <!-- services.news.text -->
        </p>
      </li>
      <li class="services__list__item">
        <img
          src="../../../assets/img/service6.svg"
          alt=""
          class="services__list__item__icon"
        />
        <h5
          class="services__list__item__heading"
          [innerHTML]="'services.support.heading' | translate"
        >
          <!-- services.support.heading -->
        </h5>
        <p
          class="services__list__item__paragraph"
          [innerHTML]="'services.support.text' | translate"
        >
          <!-- services.support.text -->
        </p>
      </li>
    </ul>
  </div>
</div>
