.admin{
    &__orders{
        width: 900px;
        margin: 0 auto;
        margin-top: 100px;

        &__tr{
            border-bottom: 1px solid rgb(0, 58, 93);

            &:nth-child(even){
                background: #d5d1d1;
            }
        }

        &__th{
            text-align: center;
            line-height: 30px;
        }

        &__td{
            line-height: 30px;
            text-align: center;
            border-left: 1px solid rgb(0, 58, 93);
            padding: 0 10px;

            &__confirm{
                width: 100px;
                right: 100%;
                height: 100%;
                background: rgb(0, 58, 93);
                top: 0;
                overflow: hidden;
                transition: .4s;
                width: 0;

                &__item{
                    width: 50%;
                    text-align: center;
                    height: 100%;
                    transition: .3s;
                    color: white;

                    &:first-child{
                        &:hover{
                            background: green;
                        }
                    }
                    &:last-child{
                        &:hover{
                            background: red;
                        }
                    }
                }
            }

            &:last-child{
                border-right: 1px solid rgb(0, 58, 93);
                cursor: pointer;
            }
        }
    }
}