<div class="order" id="order">
  <div class="order__container">
    <h2 class="order__heading" translate>order.heading</h2>
    <form
      [formGroup]="orderForm"
      (ngSubmit)="onOrderSubmit()"
      class="order__form"
    >
      <div class="flex-space-btw order__form__input__wrapper">
        <input
          placeholder="{{ 'order.name' | translate }}"
          type="text"
          class="order__form__input"
          formControlName="name"
        />
        <input
          placeholder="{{ 'order.lastName' | translate }}"
          type="text"
          class="order__form__input"
          formControlName="lastName"
        />
      </div>
      <div class="flex-space-btw order__form__input__wrapper">
        <input
          placeholder="{{ 'order.number' | translate }}"
          type="text"
          class="order__form__input"
          formControlName="number"
        />
        <input
          placeholder="{{ 'order.address' | translate }}"
          type="text"
          class="order__form__input"
          formControlName="address"
        />
      </div>
      <input
        placeholder="{{ 'order.idNumber' | translate }}"
        type="number"
        class="order__form__input order__form__input__large"
        formControlName="idNumber"
      />
      <textarea
        placeholder="{{ 'order.message' | translate }}"
        class="order__form__textarea"
        formControlName="message"
      ></textarea>
      <button type="submit" class="order__form__submit" translate>
        order.send
      </button>
    </form>
  </div>
</div>
