<div class="order">
  <div class="order__container">
    <h2 class="order__heading">Make new order online</h2>
    <div class="order__form">
      <div class="flex-space-btw">
        <input
          placeholder="Enter your name..."
          type="text"
          class="order__form__input"
        />
        <input
          placeholder="Enter your last name..."
          type="text"
          class="order__form__input"
        />
      </div>
      <div class="flex-space-btw">
        <input
          placeholder="Enter your phone number..."
          type="text"
          class="order__form__input"
        />
        <input
          placeholder="Enter your address..."
          type="text"
          class="order__form__input"
        />
      </div>
      <input
        placeholder="Enter your ID number..."
        type="text"
        class="order__form__input order__form__input__large"
      />
      <textarea
        placeholder="Enter message..."
        class="order__form__textarea"
      ></textarea>
      <button type="submit" class="order__form__submit">Send</button>
    </div>
  </div>
</div>
