<header class="header fixed">
  <div class="header__top">
    <div class="header__container flex header__top__wrapper">
      <div class="header__top__contacts flex">
        <div class="header__top__item flex-center">
          <img
            src="../../../assets/img/phone.png"
            alt=""
            class="header__top__item__icon"
          />
          <span class="header__top__item__content" translate>header.phone</span>
        </div>
        <div class="header__top__item flex-center">
          <img
            src="../../../assets/img/pin.png"
            alt=""
            class="header__top__item__icon"
          />
          <span class="header__top__item__content" translate
            >header.address</span
          >
        </div>
        <!-- <div class="header__top__item flex-center">
          <img
            src="../../../assets/img/mail.png"
            alt=""
            class="header__top__item__icon"
          />
          <span class="header__top__item__content"></span>
        </div> -->
      </div>
      <div class="header__top__socials flex">
        <div class="header__top__item flex-center">
          <img
            src="../../../assets/img/facebook.svg"
            alt=""
            class="header__top__item__icon"
          />
        </div>
        <div class="header__top__item flex-center">
          <img
            src="../../../assets/img/twitter.svg"
            alt=""
            class="header__top__item__icon"
          />
        </div>
        <div class="header__top__item flex-center">
          <img
            src="../../../assets/img/linkedIn.svg"
            alt=""
            class="header__top__item__icon"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom relative">
    <div class="header__container flex-space-btw">
      <h1>
        <img
          class="header__bottom__logo"
          src="../../../assets/img/logo.png"
          alt=""
        />
      </h1>
      <div class="header__bottom__burger" (click)="toggleMenu()">
        <div class="header__bottom__burger__button">
          <div class="header__bottom__burger__line"></div>
          <div class="header__bottom__burger__line"></div>
          <div class="header__bottom__burger__line"></div>
        </div>
      </div>
      <div class="header__bottom__navigation flex" id="navigation">
        <div
          class="header__bottom__navigation__item header__bottom__navigation__item__active"
          (click)="navigate('about')"
          [innerHTML]="'header.navigation.home' | translate"
        >
          <!-- header.navigation.home -->
        </div>
        <!-- <div
          class="header__bottom__navigation__item"
          [innerHTML]="'header.navigation.about' | translate"
          (click)="navigate('about')"
        </div> -->
        <div
          class="header__bottom__navigation__item"
          [innerHTML]="'header.navigation.services' | translate"
          (click)="navigate('services')"
        >
          <!-- header.navigation.services -->
        </div>
        <div
          class="header__bottom__navigation__item"
          [innerHTML]="'header.navigation.order' | translate"
          (click)="navigate('order')"
        >
          <!-- header.navigation.order -->
        </div>
        <div
          class="header__bottom__navigation__item"
          [innerHTML]="'header.navigation.speed' | translate"
          (click)="navigate('speed')"
        >
          <!-- header.navigation.speed -->
        </div>
        <div
          class="header__bottom__navigation__item"
          [innerHTML]="'header.navigation.contanct' | translate"
          (click)="navigate('contact')"
        >
          <!-- header.navigation.contanct -->
        </div>
        <div
          class="header__bottom__navigation__item"
          (click)="switchLanguage()"
        >
          {{ selectedValue.toUpperCase() }}
        </div>
      </div>
    </div>
  </div>
</header>
