<header class="header fixed">
  <div class="header__top">
    <div class="header__container flex header__top__wrapper">
      <div class="header__top__contacts flex">
        <div class="header__top__item flex-center">
          <img
            src="../../../assets/img/phone.png"
            alt=""
            class="header__top__item__icon"
          />
          <span class="header__top__item__content">Phone: +995 32 2420410</span>
        </div>
        <div class="header__top__item flex-center">
          <img
            src="../../../assets/img/pin.png"
            alt=""
            class="header__top__item__icon"
          />
          <span class="header__top__item__content">D.Guramishvili #41e</span>
        </div>
        <!-- <div class="header__top__item flex-center">
          <img
            src="../../../assets/img/mail.png"
            alt=""
            class="header__top__item__icon"
          />
          <span class="header__top__item__content"></span>
        </div> -->
      </div>
      <div class="header__top__socials flex">
        <div class="header__top__item flex-center">
          <img
            src="../../../assets/img/facebook.svg"
            alt=""
            class="header__top__item__icon"
          />
        </div>
        <div class="header__top__item flex-center">
          <img
            src="../../../assets/img/twitter.svg"
            alt=""
            class="header__top__item__icon"
          />
        </div>
        <div class="header__top__item flex-center">
          <img
            src="../../../assets/img/linkedIn.svg"
            alt=""
            class="header__top__item__icon"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom relative">
    <div class="header__container flex-space-btw">
      <h1>
        <img
          class="header__bottom__logo"
          src="../../../assets/img/logo.png"
          alt=""
        />
      </h1>
      <div class="header__bottom__burger" (click)="toggleMenu()">
        <div class="header__bottom__burger__button">
          <div class="header__bottom__burger__line"></div>
          <div class="header__bottom__burger__line"></div>
          <div class="header__bottom__burger__line"></div>
        </div>
      </div>
      <div class="header__bottom__navigation flex" id="navigation">
        <div
          class="header__bottom__navigation__item header__bottom__navigation__item__active"
          (click)="navigate('slider')"
        >
          Home
        </div>
        <div
          class="header__bottom__navigation__item"
          (click)="navigate('about')"
        >
          About us
        </div>
        <div
          class="header__bottom__navigation__item"
          (click)="navigate('services')"
        >
          Services
        </div>
        <div
          class="header__bottom__navigation__item"
          (click)="navigate('order')"
        >
          Make order
        </div>
        <div
          class="header__bottom__navigation__item"
          (click)="navigate('speed')"
        >
          Check speed
        </div>
        <div
          class="header__bottom__navigation__item"
          (click)="navigate('contact')"
        >
          Contact
        </div>
      </div>
    </div>
  </div>
</header>
