.about {
  width: 100%;
  height: auto;
  padding: 100px 0 191px 0;

  @media screen and (max-width: 681px) {
    padding-bottom: 0;
  }

  &__container {
    width: 1150px;
    height: 100%;
    margin: 0 auto;

    @media screen and (max-width: 1160px) {
      width: 100%;
      box-sizing: border-box;
      padding: 0 10px;
    }
  }

  &__information {
    padding: 90px;
    background: #fafafa;
    display: inline-block;
    max-width: 571px;

    @media screen and (max-width: 800px) {
      padding: 40px;
    }

    &__heading {
      font-family: "Poppins";
      font-weight: 600;
      font-size: 36px;
      color: #110729;
    }

    &__line {
      margin-top: 30px;
      width: 55px;
      height: 2px;
      background: #00d3a8;

      &::after {
        content: "";
        position: absolute;
        width: 5px;
        height: 2px;
        background: white;
        top: 0;
        right: 10px;
      }
    }

    &__paragraph {
      margin-top: 25px;
      font-family: "Rubik";
      font-weight: normal;
      font-size: 16px;
      color: #495057;
      line-height: 26px;
    }
  }

  &__img {
    width: 966px;
    height: 634px;
    top: 55px;
    left: 140px;
    z-index: -1;

    @media screen and (max-width: 681px) {
      display: none;
    }

    &__lines {
      height: 652px;
      right: 0;
      top: 75px;
      z-index: -2;
    }
  }
}

@media screen and (max-width: 1106px) {
  .about {
    &__img {
      width: calc(100% - 160px);

      &__lines {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .about {
    &__img {
      height: 410px;
    }

    &__information {
      &__heading {
        font-size: 24px;
      }

      &__paragraph {
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
}
