<div class="about" id="about">
  <div class="about__container relative">
    <div class="about__information">
      <h2 class="about__information__heading">About AirLink</h2>
      <div class="about__information__line relative"></div>
      <p class="about__information__paragraph">
        Georgian AirLink არის ინტერნეტ-პროვაიდერი კომპანია, რომელიც მომხმარებელს
        სთავაზობს თანამედროვე სტანდარტების შესაბამის ინტერნეტ მომსახურეობასა და
        ტელე-საკომუნიკაციო სერვისს. ყველა პროდუქტი მაქსიმალურად მორგებულია
        მომხმარებლის ინტერესებზე და ინდივიდუალურ მოთხოვნებზე. Georgian
        AirLink-ის უპირველესი ამოცანაა მომხმარებელს შესთავაზოს ინოვაციური და
        მოთხოვნაზე ორიენტირებული ინტერნეტ პაკეტები და სხვადასხვა სახის
        მაღალხარისხიანი საკომუნიკაციო მომსახურება. კომპანიის მიზანია
        სატელეკომუნიკაციო სივრცეში ლიდერის პოზიციის დამკვიდრება, რის მიღწევასაც
        მომხმარებლის ინტერესებზე მაქსიმალური ორიენტირებით, ინოვაციური
        პროდუქტების შეთავაზებით, ახალი მომსახურების დანერგვით, ბაზრის წილისა და
        მომგებიანობის გაზრდით შეძლებს. ჩვენი შემოთავაზებული პროდუქტი
        მომხმარებლებს აძლევს საშუალებას მიიღოს სწრაფი და ხარისხიანი ინტერნეტი
        (ინტერნეტ-ტელევიზია) ქართულ ბაზარზე ყველაზე ხელმისაწვდომ ფასებში.
      </p>
    </div>
    <img
      src="../../../assets/img/about.png"
      alt=""
      class="about__img absolute"
    />
    <img
      src="../../../assets/img/about-lines.svg"
      alt=""
      class="about__img__lines absolute"
    />
  </div>
</div>
