<div class="about" id="about">
  <div class="about__container relative">
    <div class="about__information">
      <h2 class="about__information__heading" translate>about.heading</h2>
      <div class="about__information__line relative"></div>
      <p class="about__information__paragraph" translate>
        about.text
      </p>
    </div>
    <img
      src="../../../assets/img/about.png"
      alt=""
      class="about__img absolute"
    />
    <img
      src="../../../assets/img/about-lines.svg"
      alt=""
      class="about__img__lines absolute"
    />
  </div>
</div>
