<div class="contact relative" id="contact">
  <form
    [formGroup]="messageForm"
    (ngSubmit)="onMessageSubmit()"
    class="contact__form absolute flex-space-btw"
  >
    <h2 class="contact__form__heading" translate>
      contact.heading
    </h2>
    <input
      placeholder="{{ 'contact.name' | translate }}"
      type="text"
      class="contact__form__input"
      formControlName="name"
    />
    <input
      formControlName="email"
      placeholder="{{ 'contact.email' | translate }}"
      type="text"
      class="contact__form__input"
    />
    <input
      placeholder="{{ 'contact.number' | translate }}"
      type="text"
      class="contact__form__input"
      formControlName="number"
    />
    <input
      placeholder="{{ 'contact.subject' | translate }}"
      placeholder="Subject"
      type="text"
      class="contact__form__input"
    />
    <textarea
      formControlName="message"
      placeholder="{{ 'contact.message' | translate }}"
      class="contact__form__input contact__form__textarea"
    ></textarea>
    <button type="submit" class="contact__form__button" translate>
      contact.send
    </button>
  </form>
</div>
