<div class="contact relative">
  <div class="contact__form absolute flex-space-btw">
    <h2 class="contact__form__heading">
      Don't Hesitate To Contact <br />
      With Us, Say Hello......
    </h2>
    <input
      placeholder="Full Name Here"
      type="text"
      class="contact__form__input"
    />
    <input placeholder="Email Here" type="text" class="contact__form__input" />
    <input
      placeholder="Phone Number"
      type="text"
      class="contact__form__input"
    />
    <input placeholder="Subject" type="text" class="contact__form__input" />
    <textarea
      placeholder="Message Us"
      class="contact__form__input contact__form__textarea"
    ></textarea>
    <button type="submit" class="contact__form__button">Send Message</button>
  </div>
</div>
